<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>To Do List</h1>

    <ul>

    <form action="/" method= "POST" >
        <input type="text" name="todos">
        <button type="submit">Save Todo</button>
        <!-- <form action="/delete/?_method=DELETE"; 
          class="delete-form" method="POST"> Delete it: <button class="delete" 
          type= "submit">Delete </button> </form>  </li> -->
      </form>
      <% if (todos.length) { %>

      <% todos.forEach(function(t) { %>
        <li>
          <%= t.todos %>
          - 
          <%= t.done ? 'done' : 'not done' %>
        </li>
          <% }); %>
      </ul>
      <% } else { %>
        <h3>No Todo's Yet</h3>
      <% } %>

  </body>
</html>
